<div class="footer-container">
    <footer>
        <h2>Come and Say Hi.</h2>

        <p>You can find me on these services.</p>

        <ul>
            <li>
                <a href="https://github.com/mr-damagii" target="_blank">
                    {{> icons/github}}
                </a>
            </li>

            <li>
                <a href="http://nz.linkedin.com/in/adamckent" target="_blank">
                    {{> icons/linkedin}}
                </a>
            </li>
            
            <li>
                <a href="mailto:adamkent.website@gmail.com">
                    {{> icons/email}}
                </a>
            </li>
        </ul>
    </footer>
</div>