<head>
    <title>{{#if pagetitle}}{{pagetitle}} - Adam Kent{{else}}Adam Kent{{/if}}</title>

    <link rel="shortcut icon" type="image/x-icon" href="/client/images/favicon-32.png" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/client/images/apple-touch-icon-57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/client/images/apple-touch-icon-72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/client/images/apple-touch-icon-114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/client/images/apple-touch-icon-144.png">

    <link href="/client/styles/styles.css" rel="stylesheet" />
</head>