<div class="nav-container">
    <nav>
        <button class="menu-control">
            <span class="base">
                {{> icons/menu}}
            </span>

            <span class="open">
                {{> icons/close}}
            </span>
        </button>

        <div class="nav-content-container">
            <ul class="nav-content">
                <li>
                    <a href="/">Home</a>
                </il>

                <li>
                    <a href="/projects">Projects</a>
                </il>

                <li>
                    <a href="/blogs">Blogs</a>
                </il>

                <li>
                    <a href="/about">About Me</a>
                </il>
            </ul>
        </div>
    </nav>
</div>