.header-container {
    background-color: #000;
    border-bottom: 2rem solid #d3b95c;
    height: 34rem;
    position: relative;

    header {
        align-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        text-align: center;
        text-transform: uppercase;
        z-index: 1;

        picture {
            bottom: 0;
            content: '';
            left: 0;
            opacity: 0.35;
            overflow: hidden;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    h1 {
        @include container-content();

        color: #d3b95c;
        font: {
            family: 'Josefin Slab';
            size: 3rem;
            weight: normal;
        }
        z-index: 1;

        span {
            display: block;
        }
    }

    p {
        @include container-content();
        
        color: #d3b95c;
        font: {
            family: 'Josefin Slab';
            size: 2rem;
            weight: normal;
        }
        z-index: 1;
    }

    @media (min-width: $breakpoint-large) {
        height: 43.75rem;

        h1 {
            font-size: 4.5rem;
        }
    }
}