nav {

    background: #333;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    transform: translateX(($menu-bar-open-size - $menu-bar-closed-size) * -1);
    transition: transform .1s linear;
    width: $menu-bar-open-size;
    z-index: 1;

    &.open {

        overflow-y: auto;
        transform: translateX(0);

        .menu-control .base {
        
            opacity: 0;
        
        }

        .menu-control .open {

            opacity: 1;

        }

        .menu-home {

            display: none;

        }

        li a {

            display: block;

        }

    }

    .menu-control, .menu-home {

        background: none;
        border: none;
        fill: white;
        float: right;
        outline: none;
        position: relative;
        transition: opacity .1s linear;
        height: $menu-bar-closed-size;
        width: $menu-bar-closed-size;

        &:hover {

            opacity: .6;

        }

        span, svg {

            height: 2.2rem;
            min-width: 2.2rem;

        }

        span {

            position: absolute;
            top: 7px;
            bottom: 0;
            left: 0;
            right: 0;

        }

    }

    .menu-control {

        span {

            opacity: 0;

        }

        .base {

            opacity: 1;
        
        }

    }

    .menu-home {

        clear: right;
        display: block;

        svg {

            position: absolute;
            top: 7px;
            bottom: 0;
            left: 0;
            right: 0;

        }

    }

    .nav-content {

        clear: both;
        padding: 0;

    }

    li a {

        color: white;
        display: none;
        font-size: 1.2rem;
        margin: .5rem;
        padding: .5rem;
        text-decoration: none;

        &:hover {

            background: #666;

        }

    }

}