.preview-list-component {

    padding: {

        bottom: 5rem;
        top: 5rem;

    }

    & > h2 {

        font: {

            size: .8rem;
            weight: normal

        }
        margin: {
            
            left: auto;
            right: auto;

        }
        max-width: 60rem;
        text-transform: lowercase;

    }

    .preview-list {

        @include outer-container();

        margin: {
            
            left: auto;
            right: auto;

        }
        max-width: 60rem;
        padding: {

            left: 2rem;
            right: 2rem;

        }

    }

    li {

        @include span-columns(4);

        a {

            @include transition(opacity .1s linear);

            display: block;
            max-width: 285px;
            text-decoration: none;

            &:hover {

                opacity: .6;

            }

        }

    }

    .image-container, 
    .image-container picture,
    .image-container picture img {

        display: block;
        width: 100%;

    }

    h3 {

        font-size: 1.1rem;

    }

}