body {

    background: #333;
    color: grey;

}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p,
a {

    color: grey;
    font-family: 'Didact Gothic';

}

.container {

    background: white;
    padding-left: $menu-bar-closed-size;
    position: relative;

}

.content-container {

    padding: {

        left: $content-padding;
        right: $content-padding;

    }

}