<div class="footer-container content-container">
    <footer>
        <h4>Get in Touch</h4>

        <p>Find me out and about on the following services or just drop me an email...</p>

        <div class="contacts-container">
            <ul class="contacts">
                <li>
                    <a href="mailto:website@adamkent.me">
                        {{> icons/email}}
                    </a>
                </li>

                <li>
                    <a href="https://github.com/mr-damagii" target="_blank">
                        {{> icons/github}}
                    </a>
                </li>

                <li>
                    <a href="http://nz.linkedin.com/in/adamckent" target="_blank">
                        {{> icons/linkedin}}
                    </a>
                </li>
            </ul>
        </div>

        <a class="mail" href="mailto:website@adamkent.me">
            website@adamkent.me
        </a>
    </footer>
</div>