<div class="header-container">
    <header>
        <h1>{{title}}</h1>

        {{#if summary}}
            <p>{{summary}}</p>
        {{/if}}

        <div class="header-background" style="background-image: url('{{image}}')"></div>
    </header>
</div>