<div class="header-container">
    <header>
        <h1>{{title}}</h1>

        {{#if summary}}
            <p>{{summary}}</p>
        {{/if}}

        {{#if image}}
            {{{picture image}}}
        {{/if}}
    </header>
</div>