<nav>
    <button class="menu-control">
        <span class="base">
            {{> icons/menu}}
        </span>

        <span class="open">
            {{> icons/close}}
        </span>
    </button>

    <a class="menu-home button" href="/">
        {{> icons/home}}
    </a>

    <ul class="nav-content">
        <li>
            <a href="/">Home</a>
        </il>

        <li>
            <a href="/projects">Projects</a>
        </il>

        <li>
            <a href="/blogs">Blogs</a>
        </il>

        <li>
            <a href="/contact">Contact Me</a>
        </il>
    </ul>
</nav>