<!DOCTYPE html>

<html lang="en">
    {{> head this}}

    <body>
        <div class="container about">
            {{> nav}}

            {{> header header}}

            <article>
                <p>I've always has a programming project going on to learn something new or make something easier. I'm is a drummer that plays various genres such as Funk, Soul and Hip-Hop and when there's time between these I'm is a PC gamer who's still managing to get to the top spot in Counter Strike lobbies (alright, in casual mode).</p>

                <h2>Looking for a programmer to make something awesome?</h2>

                <p>
                    <a href="/client/downloads/Adam Kent - 2015 CV - Public.docx">Grab my CV here</a>
                </p>
            </article>

            {{> footer}}
        </div>

        {{> scripts}}
    </body>
</html>