<!DOCTYPE html>

<html lang="en">
    {{> head}}

    <body>
        <div class="container">
            {{> header header}}

            {{> nav}}

            <section class="contact content-container">
                <ul>
                    <li>
                        <a href="mailto:website@adamkent.me">
                            {{> icons/email}}
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/mr-damagii" target="_blank">
                            {{> icons/github}}
                        </a>
                    </li>

                    <li>
                        <a href="http://nz.linkedin.com/in/adamckent" target="_blank">
                            {{> icons/linkedin}}
                        </a>
                    </li>
                </ul>
            </section>

            {{> footer}}
        </div>

        {{> scripts}}
    </body>
</html>