<!DOCTYPE html>

<html lang="en">
    {{> head}}

    <body>
        <div class="container home">
            {{> nav}}

            <div class="home-header-container">
                <header>
                    <h1>
                        <span>Hello, I'm Adam.</span>

                        <span class="tagline">I Write Software.</span>
                    </h1>
                </header>
            </div>

            <section class="intro-container">
                <div class="intro">
                    <p><span>I'm a front-end web developer.</span> I write HTML, client-side JavaScript, and CSS. I translate Photoshop and Illustrator designs into web pages. I deal with browser compatibility and I handle user interactions.</p>

                    <p><span>I'm also a back-end web developer.</span> I write C#, server-side JavaScript and the occasional bit of PHP. I program content management systems, classified systems and API's. I design databases and write SQL (or NoSQL).</p>
                </div>
            </section>

            <section class="recent-container">
                <div class="recent">
                    <div class="recent-header">
                        <h2>Recent Projects</h2>
                    </div>

                    <ol>
                        {{#each preview.items}}
                            <li {{#if_even @index}}class="alt"{{/if_even}}>
                                <a href="/project/{{url}}">
                                    {{{picture thumbnail largeThumbnail}}}

                                    <aside>
                                        <div>
                                            <h3>{{title}}</h3>

                                            <p>{{summary}}</p>
                                        </div>
                                    </aside>
                                </a>
                            </li>
                        {{/each}}
                    </ol>
                </div>
            </section>

            {{> footer}}
        </div>

        {{> scripts}}
    </body>
</html>