<!DOCTYPE html>

<html lang="en">
    {{> head this}}

    <body>
        {{> openingScripts}}

        <div class="container project">
            {{> nav}}

            {{> header this}}
            
            <article>
                {{{markdown body}}}
            </article>

            {{> footer}}
        </div>

        {{> scripts}}
    </body>
</html>