.error-404 {
    .header-container {
        height: 15rem;
    }

    section {
        @include container-content();

        margin: {
            bottom: 5rem;
            top: 5rem;
        }
        text-align: center;

        .nothing-icon {
            height: 5rem;
            margin: {
                left: auto;
                right: auto;
            }
            width: 5rem;
        }
    }

    @media (min-width: $breakpoint-large) {
        .header-container {
            height: 20rem;
        }
    }
}